<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css"/>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css"/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.js"></script>
  <link rel="stylesheet" href="static/main.css"/>
</head>

<body>
<div>
  <div>
    <div>
      {% if prevPage %}
      <a href={{"/" + prevPage}}>
        <button>prev</button>
      </a>
      {% endif %}
      {% if nextPage %}
      <a href={{"/" + nextPage}}>
        <button>next</button>
      </a>
      {% endif %}
    </div>
    <div class="columns">
      <div class="column">
        <form action="{{url_for('page', imageNum=currentPage)}}" id="textForm" method="post">
          <button type="submit">Save</button>
          <textarea name="text" id="text" cols="100" form="textForm">{{ text }}</textarea>
        </form>
      </div>
      <div class="column"><img src={{imgUrl}} style="height: 900px; width: auto"/></div>
    </div>
    <script>
      var options = {
        lineWiseCopyCut: true,
        autoFocus: true,
        lineNumbers: true,
        lineWrapping: true
      };

      var textArea = CodeMirror.fromTextArea(document.getElementById("text"), options)

    </script>
  </div>
</div>
</body>
</html>