
<div>
  <div>
    <textarea id="text" onkeyup="auto_grow(this)" cols="100">{{ text }}</textarea>
    <img src={{imgUrl}} width="40%" height="auto"/>
  </div>
  <div>
    {% if prevPage %}
      <button>prev</button>
    {% endif %}
    <a href={{"/" + nextPage}}><button>next</button></a>
  </div>

  <script>
    function auto_grow(element) {
      element.style.height = "5px";
      element.style.height = (element.scrollHeight)+"px";
    }
    auto_grow(document.getElementById("text"))
  </script>

</div>